version: '3.8'

services:

  nginx:
    image: nginx:latest
    container_name: www-container
    ports:
      - 8080:80
    restart: unless-stopped
    volumes:
      - ./dist:/usr/share/nginx/html
      - ./nginx-conf.d:/etc/nginx/conf.d

  php-fpm:
    image: php:8-fpm
    container_name: php-container
    volumes:
      - ./dist:/usr/share/nginx/html
