@charset 'UTF-8';

.edit-header {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;

    & > * {
        flex-grow: 1;
    }
}

.edit-info {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.edit-json-editor {
    $-margin-top: 1em;

    display: flex;
    max-height: calc(90vh - $-margin-top);
    margin-top: $-margin-top;

    & > * {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 50vw;
    }

    .dragging {
        border: 1px dashed lightskyblue;
    }

    .sound-entry-visualizer-title {
        font-size: x-large;
        text-align: center;
    }
}
