@charset 'UTF-8';

.edit-header {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;

    & > * {
        flex-grow: 1;
        align-items: flex-end;
    }
}

.edit-info {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.edit-json-editor {
    display: flex;
    margin-top: 2em;

    & > * {
        flex-grow: 1;
        max-width: 50vw;
    }

    .dragging {
        border: 1px dashed lightskyblue;
    }

    .sound-entry-visualizer-title {
        font-family: Minecraft, sans-serif;
        font-size: x-large;
        text-align: center;
    }
}
