@charset 'UTF-8';

@use './start_screen';
@use './edit_screen';
@use './simple_box_animator';
@use './webfont';

html {
    overflow: hidden;
    color: #FFF;
    background-color: #121212;
}

.center {
    text-align: center;
}

.error-msg {
    font-size: small;
    color: lightcoral;
}

.version-string {
    font-size: small;
    text-align: right;
}

main.screen {
    transition: all .5s ease;

    &.hide {
        opacity: 0;
    }
}

a {
    color: skyblue;
    text-decoration: none;
}

a:visited {
    color: plum;
}

a:hover {
    color: deepskyblue;
}

a:active {
    color: dodgerblue;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: small;
    background-color: #333;
}
